html , body{
	margin : 0px;
	padding : 0px;
	background : #E27A3F;
	width : 100%;
	height : 100%;
	position : fixed;
}
#main, #cv, #pres{
	float : left;
	height : 100%;
	transition : all 1s;
	overflow-x:hidden;
	overflow-y:auto:
}
#main{
	background-color : #334D5C;
	width : 59%;
	color : #EEE;
}
#glyph{color : }
#cv{
	background-color : #45B29D;
	width : 19%;
}
#pres{
	background-color : #EFC94C;
	width : 19%;
}
.container{
	width : 100%;
	padding-right : 70px;
	text-align : justify;
}
.hmain{
	color : #45B29D;
	padding-left : 7px;
}
.hcv{
	color : #EFC94C;
	padding-left : 7px;
}
.hpres{
	color : #E27A3F;
	padding-left : 7px;
}
h2{

}
#glyph{
	margin-right : 5px;
}
.list-group{
	margin-top : 50px;
}
ul{
	list-style-type: none; 
}
li{margin-bottom : 15px;}
.show{
	width : 59% !important; 
}
.cacher{
	width : 19% !important;
}
.anim{
	animation : show 1s;
}

@keyframes show {
    0%   { opacity : 0;}
    20%	 {opacity : 0;}
    100% { opacity : 1;}
}

.big-ic{
	width : 100%;
	height : 80%;
	padding-top : 20%;
	font-size : 100px;
	text-align : center;
	line-height : 160%

}
.big-ic span{
	width : 100%;
	font-size : 100px;
	text-align : center;
	line-height: 135%;
}

::-webkit-scrollbar {									/* Scrollbars */
	width: 14px;
	height: 14px;
	color : black;
	background: none;
}

::-webkit-scrollbar-thumb {								/* Barre */
	border: solid 0 transparent;
	border-right-width: 4px;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 9px 5px;
	-webkit-border-bottom-right-radius: 9px 5px;
	-webkit-box-shadow: inset 0 0 0 1px rgb(79,79,79), inset 0 0 0 6px rgb(102,102,102);
}
::-webkit-scrollbar-thumb:hover {						/* Barre */
	-webkit-box-shadow: inset 0 0 0 1px rgb(90,90,90), inset 0 0 0 6px rgb(110,110,110);
}

.white{
	color : #EEE;
}
.msg{
	width : 500px;
	margin-bottom : 20px;
}