html , body{
	margin : 0px;
	padding : 0px;
	background : #E27A3F;
	width : 100%;
	height : 100%;
	position : fixed;
}
#main, #cv, #pres{
	float : left;
	height : 100%;
	transition : all 1s;
	overflow-x:hidden;
	overflow-y:auto:
}
#main{
	background-color : #334D5C;
	width : 59%;
	color : #EEE;
}
#glyph{color : }
#cv{
	background-color : #45B29D;
	width : 19%;
}
#pres{
	background-color : #EFC94C;
	width : 19%;
}
.container{
	width : 100%;
	padding-right : 70px;
	text-align : justify;
}
.hmain{
	color : #45B29D;
	padding-left : 7px;
}
.hcv{
	color : #EFC94C;
	padding-left : 7px;
}
.hpres{
	color : #E27A3F;
	padding-left : 7px;
}
h2{

}
#glyph{
	margin-right : 5px;
}
.list-group{
	margin-top : 50px;
}
ul{
	list-style-type: none; 
}
li{margin-bottom : 15px;}
.show{
	width : 59% !important; 
}
.cacher{
	width : 19% !important;
}
.anim{
	animation : show 1s;
}

.float{
	float:left;
}

@keyframes show {
    0%   { opacity : 0;}
    20%	 {opacity : 0;}
    100% { opacity : 1;}
}

.big-ic{
	width : 100%;
	height : 80%;
	padding-top : 20%;
	font-size : 100px;
	text-align : center;
	line-height : 160%
	
}
.big-ic span{
	width : 100%;
	font-size : 100px;
	text-align : center;
	line-height: 135%;
	color : #333;
}

::-webkit-scrollbar {									/* Scrollbars */
	width: 14px;
	height: 14px;
	color : black;
	background: none;
}

::-webkit-scrollbar-thumb {								/* Barre */
	border: solid 0 transparent;
	border-right-width: 4px;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 9px 5px;
	-webkit-border-bottom-right-radius: 9px 5px;
	-webkit-box-shadow: inset 0 0 0 1px rgb(79,79,79), inset 0 0 0 6px rgb(102,102,102);
}
::-webkit-scrollbar-thumb:hover {						/* Barre */
	-webkit-box-shadow: inset 0 0 0 1px rgb(90,90,90), inset 0 0 0 6px rgb(110,110,110);
}

.white{
	color : #EEE;
}
.msg{
	width : 500px;
	margin-bottom : 20px;
}
input,textarea{
	color : black;
}



.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }