	<div class="container anim">
		<div ng-repeat="section in obj.section" id="{{section.id}}">
			<h2>
				<span class="glyphicon glyphicon-{{section.ic}}" id="glyph"aria-hidden="true"></span>
				{{section.name}}
			</h2>
			<ul>
				<li  ng-repeat="li in section.li">
					<!-- modifier le if en hasIc --><span ng-if="li.ic.length>0" class=" float glyphicon glyphicon-{{li.ic}}" id="glyph"aria-hidden="true"></span>
					<p ng-bind-html="li.content"></p>
				</li>
			</ul>
		</div>
	</div>