	<div class="container white anim">
		<div id="perso">
			<h2>
				<span class="glyphicon glyphicon-user" id="glyph"aria-hidden="true"></span>
				Qui suis-je ?
			</h2>
			<ul>
				
				<li>
					Je m'appel <b>Adrien Olivon</b>, je suis étudiant en développement informatique à Rennes, j'ai <b>19ans.</b> Depuis 2ans je me suis orienté dans le secteur informatique en intégrant le <b>BTS Service Informatique aux organisation</b> du lycée St. Jean-Baptiste De la salle. J'ai découvert, par le biais de cette formation et grace au stages que j'ai effectué, que c'était un domaine qui me plaisait et dans lequel je voulais continuer.
					Pour la suite j'éspère continuer mes études dans le développement jusqu'au <b>BAC+5</b>.
				</li>
			</ul>
		</div>
		<div id="centreInteret">
			<h2>
				<span class="glyphicon glyphicon-heart" id="glyph"aria-hidden="true"></span>
				Centre d'intérêt
			</h2>
			<ul>
				<li><span class="glyphicon glyphicon-hdd" id="glyph"aria-hidden="true"></span><b>Informatique</b><br>
					Le <b>Web</b> en général m'intéresse, les languages sont souples et les possibilités infini. Cependant si j'avais plus d'idées j'aimerais faire un mini projet en Java et apprendre des algos.
					<br/>Le (très) petit bidouillage qui mèle un peu de tout avec un Raspberry c'est sympa aussi.
				</li>
				<li><span class="glyphicon glyphicon-fire" id="glyph"aria-hidden="true"></span><b>Sport</b><br>
					Le <b>Basket</b>, même si je n'en fais plus j'adore ça.
				</li>
				<li><span class="glyphicon glyphicon-music" id="glyph"aria-hidden="true"></span><b>Musique</b><br>
					La musique, de Arctic Monkeys à Zazie en passant par 1995 et Nirvana.
				</li>
				
			</ul>
		</div>
		<div id="contact">
			<h2>
				<span class="glyphicon glyphicon-envelope" id="glyph"aria-hidden="true"></span>
				Contact
			</h2>
			<ul>
				<li><span class="glyphicon glyphicon-envelope" id="glyph"aria-hidden="true"></span><b>Mail</b><br>
					adrien.olivon@gmail.com
				</li>
				<li><span class="glyphicon glyphicon-send" id="glyph"aria-hidden="true"></span><b>Via le site</b><br/>
					<div class="input-group msg">
  						<span class="input-group-addon" id="basic-addon1">@</span>
 						<input type="text" class="form-control" placeholder="votreMail@mail" aria-describedby="basic-addon1">
					</div>
					<div class="form-group msg">
  						<textarea class="form-control" rows="5" id="comment" placeholder="Votre message"></textarea>
					</div>
					<div class="form-group msg">
  						<input type="submit" class="btn btn-default" value="Envoyer">
					</div>
				</li>
			</ul>
		</div>
	</div>