<div class="container anim">
	<h2>NoSQL - Veille Technologique</h2>
	<div class="article">
		<div class="row">
		  <div class="col-xs-6 col-md-4">
			    <a href="http://blog.neoxia.com/nosql-5-minutes-pour-comprendre/" class="thumbnail">
			      <img src="view/img/preview/1.png" title="Qu'est ce que c'est ?">
			    </a>
		  </div>
		  <div class="col-xs-6 col-md-4">
			    <a href="http://www-igm.univ-mlv.fr/~dr/XPOSE2010/Cassandra/nosql.html" class="thumbnail">
			      <img src="view/img/preview/10.png" title="Les différentes famille en détails">
			    </a>
		  </div>
		  <div class="col-xs-6 col-md-4">
			    <a href="http://cursus.edu/institutions-formations-ressources/technologie/25041/nosql-supra-paradigme-des-bases-donnees/#.VRLTe_mG_vd" class="thumbnail">
			      <img src="view/img/preview/5.png" title="Les grandes lignes">
			    </a>
		  </div>
		  <div class="col-xs-6 col-md-4">
			    <a href="http://blog.palo-it.com/2016/04/19/letat-de-lart-nosql/" class="thumbnail">
			      <img src="view/img/preview/6.png" title="Précision technique en synthèse">
			    </a>
		  </div>
		  <div class="col-xs-6 col-md-4">
			    <a href="https://en.wikipedia.org/wiki/ACID" class="thumbnail">
			      <img src="view/img/preview/7.png" title="Propriété ACID">
			    </a>
		  </div>
		  <div class="col-xs-6 col-md-4">
			    <a href="http://www.journaldunet.com/solutions/saas-logiciel/nosql-marklogic-leve-102-millions-de-dollars-0515.shtml" class="thumbnail">
			      <img src="view/img/preview/8.png" title="Les investisseurs sont généreux">
			    </a>
		  </div>
		  		  <div class="col-xs-6 col-md-4">
			    <a href="http://www.silicon.fr/big-data-apache-cassandra-nosql-open-source-82346.html" class="thumbnail">
			      <img src="view/img/preview/2.png" title="Cassandra, le NoSQL avance">
			    </a>
		  </div>
		  <div class="col-xs-6 col-md-4">
			    <a href="http://www.journaldunet.com/solutions/cloud-computing/1164217-riak-cette-techno-qui-defit-oracle-sur-son-positionnement-historique/" class="thumbnail">
			      <img src="view/img/preview/9.png" title="Oracle VS Riak">
			    </a>
		  </div>
		  <div class="col-xs-6 col-md-4">
			    <a href="http://nosql-database.org/" class="thumbnail">
			      <img src="view/img/preview/11.png" title="Le choix est présent!">
			    </a>
		  </div>
		  <div class="col-xs-6 col-md-4">
			    <a href="https://aws.amazon.com/fr/nosql/" class="thumbnail">
			      <img src="view/img/preview/12.png" title="Comparatif">
			    </a>
		  </div>
		  <div class="col-xs-6 col-md-4">
			    <a href="http://www.journaldunet.com/solutions/expert/57064/le-nosql-est-il-l-avenir-des-bases-de-donnees.shtml " class="thumbnail">
			      <img src="view/img/preview/4.png" title="L'avenir?">
			    </a>
		  </div>
		  <div class="col-xs-6 col-md-4">
			    <a href="https://www.grafikart.fr/blog/sql-nosql  " class="thumbnail">
			      <img src="view/img/preview/3.png" title="SQL et NoSQL un choix">
			    </a>
		  </div>
		  <div class="col-xs-6 col-md-4">
			    <a href="http://sametmax.com/nosql-arretons-de-dire-nimporte-quoi/" class="thumbnail">
			      <img src="view/img/preview/13.png" title="Il faut doser ses mots!">
			    </a>
		  </div>
		</div>
	</div>

	<h3><a href="./#/pres">Retour</a></h3>
</div>
