<div class=" container anim">
	<div id="competence">
		<h2>
			<span class="glyphicon glyphicon-folder-open" id="glyph"aria-hidden="true"></span>
			Mes projets
		</h2>
		<h3>Site perso</h3>
		<ul>
			<li>
				<b>Présentation</b><br>
				Le site sur lequel vous êtes en ce moment même, il à pour but de me présenter moi, mon cv et mes projets. Il me permet ainsi de tester des technos, en l'occurrence ici j'utilise principalement Angular.js pour le developpement en lui même. Cela me permet d'approfondir l'hébergement et la gestion d'un site par là même occasion.
			</li>
			<li><b>Technos principal</b><br>
				Angular.Js
			</li>
			<li><b>Autres</b><br>
				jQuery (très basique), Bootstrap (pour les icones svg), github
			</li>
			<li><b>Hébergement</b><br>
				Nom de domaine gratuit olivon.ml<br/>
				Serveur apache, PHP, MySql sur Raspberry
			</li>
			<li><b>DNS</b><br>
				Ayant une adresse ip dynamique et désirant créer se site avec 0€ j'utilise CloudFlare, l'API de ce service est très intéressente car elle permet de changer l'IP sur la quel le nom de domaine pointe avec un petit script sur le serveur. Avec une tache Crontab qui s'éxecute assez souvent le site est toujours accesible. <a href="#/doc/DNSGratuit">Plus d'infos ici.</a>
			</li>
		</ul>
		<h3>Forge</h3>
		<ul>
			<li>
				<b>Présentation</b><br>
				Durant mes stages au Rectorat j'ai eut l'occasion de participer à l'amélioration d'une forge à logiciel, elle se base sur le noyau <a href="https://fusionforge.org/">FusionForge</a>, une application libre. C'est outils permet de gérer des projets, elle met à disposition différent outils comme : gestion source svn/git, mediaWiki, forum, mantis, nuxeo, gestionnaire de tache, etc.
			</li>
			<li><b>Technos principal</b><br>
				<a href="https://fusionforge.org/">FusionForge</a>, PHP, PostgreSQL, jQuery
			</li>
			<li><b>Autres</b><br>
				Plugin jQuery Datatables
			</li>
			<li><b>Exemple de réalisation</b><br>
				Plugin Portail (page d'accueil avec un sytème d'accès rapide par catégorie)
				Plugin Secutity Password (Verification JS et php de la "force" d'un mot de passe)
				Refonte de l'outil forum (Fonctionnel et graphique)
				etc..
			</li>
		</ul>
		<h3>Site Nosty</h3>
		<ul>
			<li>
				<b>Présentation</b><br>
				Nosty est une startup fondé dans le cadre d'un concour par des élèves du Lycée de la salle. Nosty propose un bracelet géolocalisable pour retrouver ses amis, ses enfants ou des personnes agés. Le but était alors de leur faire un <a href="http://nosty.pe.hu">site vitrine</a>.
			</li>
			<li><b>Technos principal</b><br>
				Wordpress, Bootstarp PHP, CSS
			</li>
			<li><b>Autres</b><br>
				jQuery
			</li>
			<li><b>Point important</b><br>
				Création d'un thème wordpress à partir du thème vièrge bbxdesert<br/><br/>
				Création d'un plugin wordpress : Controle du site par le biais de l'interface wordpress très simplifié, il ne faut utiliser que les articles et les catégories pour gérer le site.</br>
				Chaque Catégorie correspond a une page.
				Un article est dans une ou plusieurs catégories, il est donc dans une ou plusieurs pages.
				Pour chaque articles on peut attribuer un Template particulier afin de lui appliquer un style élaboré simplement.
				Les templates étant des fichier que le developpeur peut créer simplement.
			</li>
		</ul>
	</div>

</div>